Enter Number:<input type="text" onkeydown="return myFunction(event)">
<input type="hidden"onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"/>
</br>
</br>
</br>
Enter Name:<input type="text" onkeydown="return myFun(event)">

<script>

function myFunction(event) {
    console.log(event.keyCode);
	//return true;
	 //if(event=='[^a-zA-Z] || [0-9]'){
	 if(event.shiftKey){
		return false;
	 }
	if((event.keyCode >=48 && event.keyCode <= 57) || (event.keyCode >=96 && event.keyCode <= 105)|| (event.keyCode == 8)  || (event.keyCode == 9)){
		return true;
	}
	else{
		return false;
	}
	//if ( isNaN( String.fromCharCode(event.keyCode) )){
		//return false;
	//}
}

function myFun(event) {
    console.log(event.keyCode);
	//return true;
	if((event.keyCode >=65 && event.keyCode <= 90) || (event.keyCode ==32 || event.keyCode == 8)|| (event.keyCode == 9) ){
		return true;
	}else{
		return false;
	}
}
</script>